/* ******************************* GOOGLE FONT ****************************** */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

/* ******************************** VARIABLES ******************************* */

:root {
  --color-background: rgb(42, 46, 49);
  --color-settings-container: #dbe0e4;
  --color-body: #777;
  --color-heading: rgb(90, 85, 85);
  --color-lightgrey: lightgrey;
  --color-white: #fff;
  --color-profile-background: rgb(70, 153, 70);
  --color-border: #ccc;
  --color-lightmode: rgb(58, 57, 57);
  --color-darkmode: black;

  --font-family: "Montserrat", sans-serif;
  --font-weight-medium: 500;
  --font-weight-light: 300;
  --font-size-body: 0.8em;

  --display-container: flex;
}

/* ******************************* BASE STYLES ****************************** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  cursor: pointer;

  border: none;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-medium);

  display: var(--display-container);

  width: 100%;
  min-height: 100vh;

  color: var(--color-body);
  background: var(--color-background);

  justify-content: center;
  align-items: center;
}

.settings-container {
  width: 320px;
  min-height: 100vh;
  margin-top: 0;

  background: var(--color-settings-container);
}

.dark-mode {
  background: var(--color-darkmode);
}

/* ****************************** MAIN HEADING ****************************** */

.main-heading {
  padding: 0 15px;
}

.headline {
  margin: 20px 0 10px 0;

  color: var(--color-heading);
}

.colorWhite {
  color: var(--color-white);
}

input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 8px;
  padding-left: 35px;

  border-radius: 5px;
  background: var(--color-lightgrey);
}

input[type="text"]::placeholder {
  font-size: 0.9rem;
}

.icon-search {
  position: relative;
  bottom: 32px;
  left: 8px;
}

.icon-mic {
  position: relative;
  bottom: 30px;
  left: 245px;
}

/* ******************************* PROFILE CONTAINER ****************************** */
.profile-container {
  display: var(--display-container);

  margin-bottom: 40px;
  padding: 12px;

  background: var(--color-white);

  align-items: center;
  justify-content: space-between;
}

.profile-pic {
  height: 70px;

  border: 1px solid var(--color-white);
  border-radius: 50%;
  background: var(--color-profile-background);
}

.testing p:last-child,
.setting-toggle span {
  font-size: 0.7rem;
  font-weight: var(--font-weight-light);
}

/* ****************************** SETTINGS  ****************************** */

.settings {
  margin-bottom: 40px;
  padding: 6px;

  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  background: var(--color-white);
}

.light-mode {
  color: white;
  background: var(--color-lightmode);
}

.setting-box {
  display: var(--display-container);
}

.setting-box + .setting-box {
  margin-top: 10px;
}

.setting-items {
  display: var(--display-container);

  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
}

.setting-border {
  border-bottom: 1px solid var(--color-border);
}

.setting-toggle span {
  margin-right: 10px;
}

.testing p {
  margin-left: 5px;
}

.icon {
  margin-right: 5px;
}

.contrast-outline {
  width: 50px;
  margin-right: 6px;

  border-radius: 5px;
  background: var(--color-lightgrey);
}
